@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Prompt:ital,wght@0,200;0,400;0,500;0,700;1,200&display=swap');

:root {
    --body-bg: hsl(0, 0%, 93%);
    --container-color: hsl(0, 0%, 19%);
    --sections-color: hsl(0, 0%, 93%);
    --accent-color: hsl(229, 91%, 58%);
    --divider-color: hsl(0, 0%, 78%);
    --text-color: hsl(0, 0%, 13%);
    --shadow-color: 229deg 79% 25%;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 30%; }
}

@keyframes load_btc {
    0% { width: 0; }
    100% { width: 80%; }
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 30;
    font-size: 2rem;
    /* cursor: pointer; */
}

/* General reset */

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', 'Nunito', sans-serif;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

/* Styling */

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
}

/* Text style  */

h2.text {
    font-size: 1.1rem;
    font-weight: 600;
}

h2.card_h2,
.welcome span {
    font-size: 1.1rem;
    font-weight: 500;
}

h2.text.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

span.sales {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 1rem;
}

.card_btn span {
    font-size: 0.7rem;
}

span.gainers {
    font-size: 1.1rem;
}

span.percentage {
    font-size: 1.3rem;
    font-weight: 500;
    color: #34CA5B;
}


/* Main container */

.container {
    background-color: var(--container-color);
    width: 100dvw;
    height: max(90dvh, 600px);
    border-radius: 1rem;
    padding: 0.5rem;
    transition: all 0.2s ease-out;

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr repeat(2, 1fr);
    grid-template-areas:
    'dash admin'
    'dash projects'
    'dash trend'
    'dash news';
}

.container > * {
    border-radius: 1rem;
}

/* dashboard side menu  */

.dash {
    color: var(--sections-color);
    overflow: hidden;
    background-color: var(--accent-color);
    grid-area: dash;

    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr;
}

.dash-content {
    display: grid;
    grid-template-columns: 1fr;
}

.dash-item:hover {
    color: var(--accent-color);
    background-color: var(--sections-color);
    transition: all 0.3s linear;
}


.dash-item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
    gap: 1rem;
}

.text {
    position: absolute;
    visibility: hidden;
}

/* Admin section */

.admin {
    background-color: var(--sections-color);
    grid-area: admin;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0.5rem;
}

.search {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.admin-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.admin-item input {
    width: 100%;
    outline: none;
    color: var(--text-color);
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}
.admin-item input::placeholder {
    color: var(--divider-color);
}
.admin-item input::-webkit-search-cancel-button {
    filter: grayscale(100%) opacity(30%);
}

.admin-item .material-symbols-rounded {
    color: var(--accent-color);
}

.id {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.picture {
align-self: end;
max-width: 80px;
aspect-ratio: 1/1;
background-image: url(./Profile.png);
background-size: cover;
border-radius: 0.5rem;
}

.id-info,
.extra {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.id-info .welcome {
    justify-self:start;
    align-self: center;
}

.buttons {
    display: flex;
    justify-content:flex-start;
    gap: 0.5rem;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.3rem;
    min-width: 45px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: 2px solid transparent;
    color: var(--sections-color);
    background-color: var(--accent-color);
}

.btn:hover,
.card_btn:hover {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background-color: #fff;
    transition: all 0.3s linear;
}

.date {
    justify-self: center;
    align-self: center;
}

.current {
    font-size: 1.3rem;
}

.extra {
    position: absolute;
    visibility: hidden;
}

/* Projects section */

.projects {
    background-color: var(--sections-color);
    overflow: scroll;
    padding: 0.5rem;
    grid-area: projects;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100%, 1fr);
}

.projects > * {
    border-radius: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
}

.card_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_body {
    align-self: center;
}

.card_action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.card_h2 + span {
    color: var(--accent-color);
    font-size: 1.2rem;
}

.card_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 30px;
    width: 100px;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--accent-color);
}

/* balance card */

.balance_body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0.3rem;
}

.balance,
.balance_usd {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    padding: 2px;
    height: 15px;
    border-radius: 2rem;
    border: 1px solid var(--text-color);
}

.balance_value {
    width: 0%;
    border-radius: 2rem;
    background-color: var(--accent-color);
    animation: load_btc 2s normal forwards;
}

.balance_value_usd {
    width: 0%;
    border-radius: 2rem;
    background-color: var(--accent-color);
    animation: load 2s normal forwards;
}

/* Gainers card */

.card_body.gainers_body {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 0.2rem;
}

.news {
    background-color: var(--sections-color);
    overflow: scroll;
    padding: 0.5rem;
    grid-area: news;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100%, 1fr);
}

.news > * {
    border: 1px solid black;
    border-radius: 1rem;
}

.trend {
    background-color: var(--sections-color);
    overflow: scroll;
    padding: 0.5rem;
    grid-area: trend;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100%, 1fr);
}

.trend > * {
    border: 1px solid black;
    border-radius: 1rem;
}

@media (min-width: 390px) {
    .dash-item {
        padding: 0 1rem;
    }
}

@media (min-width: 1100px) {

    h2.card_h2,
    .welcome span {
    font-size: 1.3rem;
    font-weight: 500;
}

    .container {
        width: 90vw;
        height: max(90dvh, 750px);
        gap: 1rem;
        padding: 2rem;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        'dash admin news'
        'dash projects news'
        'dash projects trend'
        'dash projects trend';
    }

    .material-symbols-rounded.logo {
        font-size: 2.5rem;
    }

    .dash{
        padding: 1rem 0;
    }

    .dash-item {
        position: static;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        gap: 1rem;
        border-radius: 1rem;
    }

    .dash-content {
        padding: 0 0.5rem;
    }

    .text {
        position: static;
        visibility: visible;
    }

    .id {
        grid-template-columns: 1fr 2fr 4fr;
        gap: 1rem;
    }

    .id-info .welcome {
        justify-self:start;
        align-self: center;
    }

    .picture {
        max-width: 100px;
        }


    .progress {
        display: flex;
        justify-content: flex-start;
        padding: 2px;
        height: 30px;
        border-radius: 2rem;
        border: 1px solid var(--text-color);
    }

    .progress-value {
        width: 0%;
        border-radius: 2rem;
        background-color: var(--accent-color);
        animation: load 2s normal forwards;
    }

    .extra {
        position: static;
        visibility: visible;
    }

    .experience p {
        font-size: 1.1rem;
    }

    .projects {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: minmax(45%, 1fr);
    }

    .card_btn {
        height: max(30px, 4vh);
        width: 120px;
        padding: 0.5rem;
        background-color: var(--accent-color);
    }

    .card_btn span {
        font-size: 1rem;
    }

    .card_h2 + span {
        color: var(--accent-color);
        font-size: 1.5rem;
    }

    span.gainers {
        font-size: 1.3rem;
    }
    
    span.percentage {
        font-size: 1.4rem;
        font-weight: 500;
        color: #34CA5B;
    }

    .news,
    .trend {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(80%, 1fr);
    }


}