/* General reset */

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

/* Styling */

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: slategray;
    width: 90vw;
    height: 90vh;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.5s ease-in-out;

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    'dash admin news'
    'dash projects news'
    'dash projects trend'
    'dash projects trend';
}

.container > * {
    border-radius: 1rem;
}

.dash {
    background-color: slateblue;
    grid-area: dash;
}

.admin {
    background-color:aliceblue;
    grid-area: admin;
}

.projects {
    background-color:chartreuse;
    grid-area: projects;
}

.news {
    background-color:darkgreen;
    grid-area: news;
}

.trend {
    background-color:deeppink;
    grid-area: trend;
}